// $mainButtonSize: 40px;
// $maxMobile: 767px;
// $minSmall: 768px;

// $minMedium: "(min-width: 992px)"; // $minMedium: "screen and min and max (min-width: 992px)";

$maxMobile: "(max-width: 767px)";
$maxSmall: "(min-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$redColor: #e2494c;
$greyColor: #9c9c9c;

$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
