// body {
//   color: #f00;
//   button {
//     color: blue;
//   }
// }

// p {
//   @media (min-width: $minSmall) {
//     color: blue;
//   }
//   @media #{$minMedium} {
//     color: green;
//   }
//   @include minMedium {
//     color: green;
//   }
//   @media (max-width: $maxMobile) {
//     color: red;
//   }
// }

// @media (max-width: 767px) {}
// @media (min-width: 768px) {}
// @media (min-width: 992px) {}
// @media (min-width: 1200px) {}

/*
.product {
  background-color: #eee;
  padding: 3px;
  border: 1px solid #ccc;
  width: 300px;
  height: 150px;
  position: relative;
  // animation: fadeInOut 2s infinite linear;
  @include prefixer(animation, fadeInOut 2s infinite linear, webkit moz);
  // -webkit-box-shadow: 10px 10px 10px #ccc;
  // -moz-box-shadow: 10px 10px 10px #ccc;
  // -o-box-shadow: 10px 10px 10px #ccc;
  // -ms-box-shadow: 10px 10px 10px #ccc;
  // box-shadow: 10px 10px 10px #ccc;
  @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
  .overlay {
    content: "";
    @include overlay;
    // background-color: rgba(255, 0, 0, 0.1);
    // background-color: rgba(#f00, 0.1);
    // background-color: rgba(black, 0.2);
    // background-color: rgba(#080, 0.2);
    background-color: rgba($redColor, 0.4);
    color: #fff;
  }
}
*/

/*
@include keyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
*/

// @-webkit-keyframes fadeInOut {
//   0% {
//     opacity: 0.5;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.5;
//   }
// }
// @-moz-keyframes fadeInOut {
//   0% {
//     opacity: 0.5;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.5;
//   }
// }
// @keyframes fadeInOut {
//   0% {
//     opacity: 0.5;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.5;
//   }
// }

/* Start Slider */
.slider {
  blockquote {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Tahoma, Arial;
    }
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 80%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
    width: 1200px;
    height: 550px;
    object-fit: cover;
    object-position: bottom;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      // background-color: #d1d1d1;
      background-color: $greyColor;
      border-radius: 50%;
      border: 3px solid $greyColor;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #fff;
        border: 3px solid #333;
      }
    }
  }
}
/* End Slider */

/* Start Services */
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float-left;
      width: (100% / 3); // width: calc(100% / 3);
      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
    @media #{$maxMobile} {
      /* -By Default:
      width: 100%; => Full Width From Container;
      float: none; => Float بس حددت ال $minMedium لأني في ال;
      */
      i {
        display: block; // على شان يكون لوحده بسطر
        margin-bottom: 15px;
      }
    }
    .service-title {
      color: #666;
      i {
        font-size: 35px;
        position: relative;
        top: 4px;
        // margin-right: 4px;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
/* End Services */

/* Start Our Players */
.our-players {
  .player-box {
    @media #{$minSmall} {
      float: $float-left;
      width: (100% / 2);
      text-align: center;
      margin-bottom: 40px;
    }
    @media #{$minMedium} {
      // float: $float-left; // By Default From $minSmall
      width: (100% / 3);
      text-align: $text-left;
      // margin-bottom: 40px; // By Default From $minSmall
      padding-left: 20px;
      padding-right: 20px;
    }
    @media #{$minLarge} {
      // float: $float-left; // By Default From $minSmall
      width: (100% / 5);
      // margin-bottom: 40px; // By Default From $minSmall
      // padding-left: 20px; // By Default From $minMedium
      // padding-right: 20px; // By Default From $minMedium
      // width: ((100% - 4%) / 5);
      // &:not(:last-of-type) {
      //   margin-right: 1%;
      // }
    }
    @media #{$maxMobile} {
      margin-bottom: 40px;
    }
    .player-img {
      max-width: 100%;
    }
    .player-title {
      color: #666;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .player-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
/* End Our Players */

/* Start Lorem Ipsum */
.lorem-ipsum {
  .lorem-box {
    @media #{$minSmall} {
      float: $float-left;
      width: (94% / 3);
      &:not(:last-of-type) {
        margin-right: 3%;
      }
    }
    @media #{$maxMobile} {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
    }
    .lorem-img {
      max-width: 100%;
      width: 100%;
      height: 230px;
      object-fit: cover;
      object-position: bottom;
      @media #{$maxMobile} {
        height: auto;
      }
    }
  }
}
/* End Lorem Ipsum */
